{% extends "cliente_generic.html" %}
{% load static %}


{% block content %}

<div class="ultimo-post">
  <h1>La ultima reserva añadida</h1>
  <p> <i class="fas fa-plus-circle"></i>
    La fecha de la ultima reserva es  " {{ UltimaReserva.date_sale }} ", cliente que lo ha solicitado "{{ UltimaReserva.user }}"
  </p>
  <p>Cantidad de Reservas total pagadas: "{{ ReservaLast }}"
  </p>
  <p>Cantidad de Reservas total aun sin pagar: "{{ ReservaSinPagar }}"
  </p>
</div>

<div class="reserva-arriendo">
  <div class="contenedor">
      <form action="" class="form" method="POST">
      <div class="form-header">
          <h1 class="form-title"><i class="fas fa-plus-circle"></i>Reserva<span> Departamento </span></h1>
      </div> 
               <label>Codigo de departamento deseado</label><br>
               {{ form.Codigo }}<hr><br>
               <label>Cantidad de dias</label><br>
               {{ form.count }}<hr><br>
               <label>Cantidad de dias</label><br>
               {{ form.Fecha_Reserva_Inicios }}<hr><br>
               <label>Cantidad de dias</label><br>
               {{ form.Fecha_Reserva_Terminos }}<hr><br>
               <label>Servicios</label><br>
               {{ form.servicioextra }}<hr><br>
               <label>Cliente</label><br>
               {{ form.user }}<hr><br>
               <br><br>
               {% csrf_token %}
               <input type="submit" class="form-submit" value="Reservar">
               <input type="reset" class="form-submit" value="Limpiar Formulario">
               <a href="/inicio">Volver al Menu</a>
        </form>
  </div>
</div>


<div class="texto-reserva">
  <div class="listadoreserva">
    <div class="container">
    <h1>Listado de Reservas</h1>
    <div style="height:50px"></div>
    <p class="lead">
    <input class="form-control col-md-3 light-table-filter" data-table="order-table" type="text" placeholder="Buscador..">
    <br>
    <table class="table table-bordered order-table ">

      <thead>
      <div class="nombrestr">
        <tr>
          <th>Cantidad de Dias</th>
          <th>Departamento</th>
          <th>Codigo Reserva</th>
          <th>Estado</th>
          <th>Fecha inicio</th>
          <th>Fecha Termino</th>
          <th>Cliente</th>
          <th>Cantidad</th>
          <th>Accion</th>
        </tr>
      </thead>
    </div>
    {% for Reserva in Reserva %}
      <tr>
¿        <td>{{ Reserva.count}}</td>
        <td>{{ Reserva.departamento}}</td>
        <td>{{ Reserva.Codigo_Reservas}}</td>
        <td>{{ Reserva.Estado_Reservas}}</td>
        <td>{{ Reserva.Fecha_Reserva_Inicios}} </td>
        <td>{{ Reserva.Fecha_Reserva_Terminos}} </td>
        <td>{{ Reserva.user}}</td>
        <td>
          <form action="{% url 'cliente_app:reservando-update' Reserva.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Descontar</button>
          </form>
        </td>
        <td>
          <form action="{% url 'cliente_app:reservando-delete' Reserva.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">eliminar</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    </div>
</div>
  <br>
  <p>Total a Pagar: {{ total_cobrar }}</p>
  <br>
  <form action="{% url 'cliente_app:reservando-delete_all' %}" method="POST">
    {% csrf_token %}
    <button type="submit" style="padding: 1.3em;  ">Vaciar Reservas</button>
    <br>
    <br>
  </form>  
  <form class="contenedor" action="{% url 'cliente_app:reserva-simple' %}" method="POST">{% csrf_token %}
    <button type="submit" class="cell button success"  style="padding: 1.5em;">
      <span>Pagar Todo</span>
    </button>
  </form>
  <br>
  <br>
  <a href="#openModal" class="modalforma" style="padding: 1.5em;">Pagar y Comprobante</a>
  <br>
  <br>
  <div id="openModal" class="modalDialog">
    <div>
      <a href="#close" title="Close" class="close">X</a>
      <h2>Turismo Real</h2>
      <div class="reveal" id="exampleModal1" data-reveal>
        <h3>Detalle del comprobante de pago</h3>
        <form action="{% url 'cliente_app:reserva-voucher' %}" class="grid-x grid-margin-x" 
          method="POST">{% csrf_token %}
          <div class="cell medium-6">
            <label>Tipo de Pago:</label>
            <div class="input-group">
              <span class="input-group-label"><i class="fi-credit-card"></i></span>
              {{ form_voucher.type_payment }}
            </div>
            {% for error in form.type_payment.errors %}
              <p class="cell" style="color: red;">
                {{ error|escape }}
              </p>
            {% endfor %}
          </div>
          <div class="cell medium-6">
            <label>Tipo de Comprobante:</label>
            <div class="input-group">
              <span class="input-group-label"><i class="fi-archive"></i></span>
              {{ form_voucher.type_invoce }}
            </div>
            {% for error in form.type_invoce.errors %}
              <p class="cell" style="color: red;">
                {{ error|escape }}
              </p>
            {% endfor %}
          </div>
          <br> 
          <button type="submit" class="cell success button"  style="padding: 1.5em;">Pagar</button>
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>  
  <a href="/ventasreserva" class="modalforma" style="padding: 1.5em;">Ultimas Ventas</a>
</div>
{%  endblock%}